In [16]:
import pandas as pd
import numpy as np

In [17]:
df_ls = pd.read_csv("/home/ls283h/Work/Strava/2016/nodes/Glasgow_1K_buffer_2016_nodes.csv")

In [18]:
df_ls.head()

       ID  Unnamed: 1
0  118831         NaN
1  118842         NaN
2  118845         NaN
3  118910         NaN
4  118926         NaN

In [19]:
id = df_ls.ID.unique()

In [20]:
id[0:10]

array([118831, 118842, 118845, 118910, 118926, 118933, 118934, 118942,
       118943, 118958])

In [21]:
df_sco= pd.read_csv("/home/ls283h/Work/Strava/2016/nodes/scotland_20160101_20161231_ride_node_alignment_hourly.csv")
df_sco.head()

,node_id,year,day,hour,minute,athletes,activities,median_intersection_time,min_intersection_time,max_intersection_time,commute_count
0,10,2016,122,8,0,5,5,1.0,1,7,0
1,10,2016,122,9,0,5,5,1.5,1,3,0
2,10,2016,192,20,0,5,5,2.0,1,2,0
3,10,2016,192,21,0,5,5,1.0,1,1,0
4,10,2016,229,13,0,10,10,3.5,1,28,0

In [22]:
df_glasgow = df_sco[df_sco['node_id'].isin(id)]
df_glasgow.shape

(1930029, 11)

In [23]:
df_glasgow.to_csv('/home/ls283h/Work/Strava/2016/nodes/glasgow__20160101_20161231_ride_node_alignment_hourly_Luis.csv', index=False)

In [24]:
df_nadiia = pd.read_csv("/home/ls283h/Work/Strava/2016/nodes/glasgow_2016_ride_node_alignment_hourly_Nadiia.csv")
df_nadiia.tail()

,node_id,year,day,hour,minute,athletes,activities,median_intersection_time,min_intersection_time,max_intersection_time,commute_count
1930024,221906,2016,278,8,0,5,5,1.5,1,3,0
1930025,221906,2016,284,17,0,5,5,1.0,1,2,0
1930026,221906,2016,284,18,0,5,5,5.0,1,10,0
1930027,221906,2016,300,17,0,5,5,1.0,1,2,0
1930028,221906,2016,348,17,0,5,5,1.0,1,7,0

In [25]:
edgesID_Luis_notin_Nadiia = df_glasgow[~df_glasgow['node_id'].isin(df_nadiia['node_id'])]
edgesID_Luis_notin_Nadiia.head()
#edgesID_Luis_notin_Nadiia.shape

Empty DataFrame
Columns: [node_id, year, day, hour, minute, athletes, activities, median_intersection_time, min_intersection_time, max_intersection_time, commute_count]
Index: []

In [26]:
edgesID_Nadiia_notin_Luis = df_nadiia[~df_nadiia['node_id'].isin(df_glasgow['node_id'])]
edgesID_Nadiia_notin_Luis

Empty DataFrame
Columns: [node_id, year, day, hour, minute, athletes, activities, median_intersection_time, min_intersection_time, max_intersection_time, commute_count]
Index: []

In [27]:
polygons = edgesID_Nadiia_notin_Luis['dest_polygon_id'].unique()
polygons

KeyError: 'dest_polygon_id'