In [ ]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set_style('whitegrid')

## Establish connection to db

In [2]:
from sqlalchemy import create_engine
# Postgres username, password, and database name
POSTGRES_ADDRESS = 'DB_ADDRESS' ## INSERT YOUR DB ADDRESS 
POSTGRES_PORT = 'PORT'
POSTGRES_USERNAME = 'USERNAME' ## CHANGE THIS TO YOURPOSTGRES USERNAME
POSTGRES_PASSWORD = 'PASSWORD' ## CHANGE THIS TO YOUR POSTGRES PASSWORD
POSTGRES_DBNAME = 'DB_NAME'
## CHANGE THIS TO YOUR DATABASE NAME
# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=POSTGRES_USERNAME,
               password=POSTGRES_PASSWORD,
               ipaddress=POSTGRES_ADDRESS,
               port=POSTGRES_PORT,
               dbname=POSTGRES_DBNAME))
# Create the connection
cnx = create_engine(postgres_str)

ValueError: invalid literal for int() with base 10: 'PORT'

In [ ]:
from pylab import rcParams
rcParams['figure.figsize'] = 15, 8

### Total monthly counts in scotland_YYYY_ride_edge_rollup_ month _total

Here i just compare total counts of features/lines to make sure that data has similar volumes of cyclist each month

In [ ]:
month_edge_rollup = pd.read_sql_query('''
SELECT
  month_n,
  COUNT(month_n),
  2015 AS year_n
FROM scotland.scotland_2015_ride_edge_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  COUNT(month_n),
  2016 AS year_n
FROM scotland.scotland_2016_ride_edge_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  COUNT(month_n),
  2017 AS year_n
FROM scotland.scotland_2017_ride_edge_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  COUNT(month_n),
  2018 AS year_n
FROM scotland.scotland_2018_ride_edge_rollup_month_total
GROUP BY month_n
ORDER BY month_n, year_n
''', cnx)
#if needed to check the table uncomment below
#month_edge_rollup

In [ ]:
#pd.pivot_table(month_edge_rollup, index=['month_n','year_n'], values='count')

#### !! Check that data for each year resembles in shape. E.g summer months have higher acitity than in winter time

In [ ]:
pd.pivot_table(month_edge_rollup, index= 'month_n', columns= 'year_n', values='count').plot(kind= 'line')
plt.xlabel("Month number")
plt.ylabel("Count")
plt.title('Total feature counts EDGE')

### Total monthly counts in  scotland_YYY_ride_node_rollup_month_total

Here I compare total counts of features/lines to make sure that data has similar volumes of cyclist each month

In [ ]:
month_node_rollup = pd.read_sql_query('''
SELECT
  month_n,
  COUNT(month_n),
  2015 AS year_n
FROM scotland.scotland_2015_ride_node_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  COUNT(month_n),
  2016 AS year_n
FROM scotland.scotland_2016_ride_node_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  COUNT(month_n),
  2017 AS year_n
FROM scotland.scotland_2017_ride_node_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  COUNT(month_n),
  2018 AS year_n
FROM scotland.scotland_2018_ride_node_rollup_month_total
GROUP BY month_n
ORDER BY month_n, year_n
''', cnx)
#if needed to check the table uncomment below
#month_node_rollup

In [ ]:
#if needed to see the result of table, uncomment below
month_node_rollup_pivot = pd.pivot_table(month_node_rollup, index= 'month_n', columns= 'year_n', values='count')
#month_node_rollup_pivot

In [ ]:
month_node_rollup_pivot.plot(kind= 'line')
plt.xlabel("Month number")
plt.ylabel("Count")
plt.title('Total feature counts NODE')

### Total monthly counts in scotland_YYYY_ride_od_rollup_month_total

Here i just compare total counts of features/lines to make sure that data has similar volumes of cyclist each month

In [ ]:
month_od_rollup = pd.read_sql_query('''
SELECT
  month_n::integer,
  COUNT(month_n),
  2015 AS year_n
FROM scotland.scotland_2015_ride_od_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n::integer,
  COUNT(month_n),
  2016 AS year_n
FROM scotland.scotland_2016_ride_od_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n::integer,
  COUNT(month_n),
  2017 AS year_n
FROM scotland.scotland_2017_ride_od_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n, 
  COUNT(month_n),
  2018 AS year_n
FROM scotland.scotland_2018_ride_od_rollup_month_total
GROUP BY month_n
ORDER BY month_n, year_n
''', cnx)
#if needed to check the table uncomment below
#month_od_rollup

In [ ]:
#if needed to see the result of table, uncomment below
month_od_rollup_pivot = pd.pivot_table(month_od_rollup, index= 'month_n', columns= 'year_n', values='count')
#month_od_rollup_pivot

In [ ]:
month_od_rollup_pivot.plot(kind= 'line')
plt.xlabel("Month number")
plt.ylabel("Count")
plt.title('Total feature counts OD')

### Total activity counts by month EDGE

Here I compare sums of total activity counts (it should be busier in summer monthes and less in winter time)

In [ ]:
month_edge_tactcnt = pd.read_sql_query('''
SELECT
  month_n,
  SUM(tactcnt::integer) as tactcnt,
  2015 AS year_n
FROM scotland.scotland_2015_ride_edge_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  sum(tactcnt::integer) ,
  2016 AS year_n
FROM scotland.scotland_2016_ride_edge_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  sum(tactcnt),
  2017 AS year_n
FROM scotland.scotland_2017_ride_edge_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  sum(tactcnt),
  2018 AS year_n
FROM scotland.scotland_2018_ride_edge_rollup_month_total
GROUP BY month_n
ORDER BY month_n, year_n
''', cnx)
#month_edge_tactcnt

In [ ]:
month_edge_tactcnt_pivot = pd.pivot_table(month_edge_tactcnt, index= 'month_n', columns= 'year_n', values='tactcnt')
month_edge_tactcnt_pivot.plot(kind= 'line')
plt.xlabel("Month number")
plt.ylabel("Total activity count (sum)")
plt.title('Total activity EDGE')

### Total activity counts by month NODE

In [ ]:
month_node_cmtcnt = pd.read_sql_query('''
SELECT
  month_n,
  sum(cmtcnt::integer) as cmtcnt,
  2015 AS year_n
FROM scotland.scotland_2015_ride_node_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  sum(cmtcnt::integer),
  2016 AS year_n
FROM scotland.scotland_2016_ride_node_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  sum(cmtcnt::integer),
  2017 AS year_n
FROM scotland.scotland_2017_ride_node_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  sum(cmtcnt::integer),
  2018 AS year_n
FROM scotland.scotland_2018_ride_node_rollup_month_total
GROUP BY month_n
ORDER BY month_n, year_n
''', cnx)
#month_node_cmtcnt

In [ ]:
month_node_cmtcnt_pivot = pd.pivot_table(month_node_cmtcnt, index= 'month_n', columns= 'year_n', values='cmtcnt')
month_node_cmtcnt_pivot.plot(kind= 'line')
plt.xlabel("Month number")
plt.ylabel("Total activity count (sum)")
plt.title('Total activity  NODE')

### Total activity counts by month OD

In [ ]:
month_od_cmtcnt = pd.read_sql_query('''
SELECT
  month_n::integer,
  sum(cmtcnt::integer) as cmtcnt,
  2015 AS year_n
FROM scotland.scotland_2015_ride_od_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n::integer,
  sum(cmtcnt::integer),
  2016 AS year_n
FROM scotland.scotland_2016_ride_od_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n::integer,
  sum(cmtcnt::integer),
  2017 AS year_n
FROM scotland.scotland_2017_ride_od_rollup_month_total
GROUP BY month_n
UNION
SELECT
  month_n,
  sum(cmtcnt),
  2018 AS year_n
FROM scotland.scotland_2018_ride_od_rollup_month_total
GROUP BY month_n
ORDER BY month_n, year_n
''', cnx)
#month_od_cmtcnt

In [ ]:
month_od_cmtcnt_pivot = pd.pivot_table(month_od_cmtcnt, index= 'month_n', columns= 'year_n', values='cmtcnt')
month_od_cmtcnt_pivot.plot(kind= 'line')
plt.xlabel("Month number")
plt.ylabel("Total activity count (sum)")
plt.title('Total activity  OD')

## Check that each day of the month has some data

In [ ]:
day_month_count_2015 = pd.read_sql_query('''
SELECT day,year,
       count(DAY) AS day_count
FROM scotland.scotland_2015_ride_edge_alignment_hourly
GROUP BY day, year
ORDER BY day::integer
''', cnx)
#day_month_count_2015.describe()

In [ ]:
day_month_count_2016 = pd.read_sql_query('''
SELECT day,year,
       count(DAY) AS day_count
FROM scotland.scotland_2016_ride_edge_alignment_hourly
GROUP BY day, year
ORDER BY day::integer
''', cnx)
#day_month_count_2016.describe()

In [ ]:
day_month_count_2017 = pd.read_sql_query('''
SELECT day,year,
       count(DAY) AS day_count
FROM scotland.scotland_2017_ride_edge_alignment_hourly
GROUP BY day, year
ORDER BY day::integer
''', cnx)
#day_month_count_2017.describe()

In [ ]:
day_month_count_2018 = pd.read_sql_query('''
SELECT day,year,
       count(DAY) AS day_count
FROM scotland.scotland_2018_ride_edge_alignment_hourly
GROUP BY day, year
ORDER BY day::integer
''', cnx)
#day_month_count_2018.describe()

_Check that there are no zero-activity day_

Typically the lowest activity is at winter time or around winter holidays (Christmas, NY, etc)

In [ ]:
# check that day count is bigger than zero (change the number in query if needed)
day_month_count_2015.query('day_count <1000')

In [ ]:
# check that day count is bigger than zero (change the number in query if needed)
day_month_count_2016.query('day_count <1000')

In [ ]:
# check that day count is bigger than zero (change the number in query if needed)
day_month_count_2017.query('day_count <1000')

In [ ]:
# check that day count is bigger than zero (change the number in query if needed)
day_month_count_2018.query('day_count <1000')

_When the least number activities occured_

In [ ]:
#shows 5 smallest values
day_month_count_2015.nsmallest(5,'day_count')

In [ ]:
#shows 5 smallest values
day_month_count_2016.nsmallest(5,'day_count')

In [ ]:
#shows 5 smallest values
day_month_count_2017.nsmallest(5,'day_count')

In [ ]:
#shows 5 smallest values
day_month_count_2018.nsmallest(5,'day_count')

_Distribution of number of cycling activities  around the year_

## TO-DO 
# find a better way to show the data

In [ ]:
rcParams['figure.figsize'] = 40, 8

In [ ]:
#month_od_cmtcnt_pivot = pd.pivot_table(month_od_cmtcnt, index= 'month_n', columns= 'year_n', values='cmtcnt')
day_month_count_2015.plot(kind= 'line')
#plt.axhline(y=min_day, color='r', linestyle='-')
#plt.show()

In [ ]:
fig = plt.figure(figsize=(35,8))
plt.margins(x=None, y=None, tight=True)

for frame in [day_month_count_2015, day_month_count_2016, day_month_count_2017, day_month_count_2018]:
    plt.plot(frame['day'], frame['day_count'])

In [ ]:
sns.lineplot(x='day', y= 'day_count',data=day_month_count_2015,label='2015', color = 'blue')
sns.lineplot(x='day', y= 'day_count',data=day_month_count_2016,label='2016', color = 'orange')
sns.lineplot(x='day', y= 'day_count',data=day_month_count_2017,label='2017', color = 'green')
sns.lineplot(x='day', y= 'day_count',data=day_month_count_2018,label='2018', color = 'red')
#control x and y limits
plt.ylim(0, None)
plt.xlim(0, 365)